/* Ép kiểu trang web về mặc định */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


/* Phần style navigation */
.container .navigation {
  background-color: #000;
  height: 32px;
  line-height: 32px;
}

.container .navigation a {
  color: #fff;
  padding: 10px;
  height: 100%;

}

.container .navigation a:hover {
  background-color: rgb(166, 159, 159);
  color: black;
}


#home {
  width: 1024px;
  margin: auto;
}

.img-box {
  width: 100%;
}

.img {
  width: 100%;
}

.margin-top {
  margin-top: 30px;
}

.title {
  font-size: xx-large;
  text-align: center;
}


#members .box-member {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}


#members .box-member .img-box {
  width: 25%;
}


/* Style phần contact */
#contact .contact-title {
  letter-spacing: 5px;
  font-weight: 200;
}


.note {
  color: rgb(133, 132, 131);
  text-transform: bold;
  font: italic;
  margin: 10px 0px;
}

/* Style form */
p {
  margin: 10px 0px;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.black {
  color: #fff;
  background-color: #000;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  /* color: inherit; */
  /* background-color: inherit; */
  text-align: center;
  cursor: pointer;
}

.button:hover, .black:hover {
  background-color: rgb(184, 178, 178);
  color: #000;
}

/* Style ảnh */
.image {
  width: 100%;
  height: auto;
}